.process-name{
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 50px;

}
.img{
    background-image: url(../../assets/images/env1.jpg);
    width:100%;
    height: 800px;
} h1{
    padding: 180px 0px 0px 180px;
    color:rgb(161, 7, 149);
}.img p{
    color: white;
    padding-left: 200px;
}