  
  
  <div class="container">
      <div class="img">
          <h1>Our work in the community</h1>
          <br>
          <p>we commit a significant amount of time to the wider community and UK based charities . </p>

      </div>
      <br><br>
   <p>
    Niche Projects is one of the UK's leading workplace design and build specialists, focusing on offices between 500 and 20,000 square feet. With experts in design, project management and employee engagement all sitting under one roof, we ensure any office environment is transformed quickly, skillfully and smoothly.
</p>
<br><br>
<p>
    We have worked with over 400 clients since we started the business almost ten years ago, with a mission to deliver cost effective, design-led solutions for office fit out projects. We continually strive to exceed our own high expectations, with over 60% of our business a referral from previous clients and partners. Our success is driven by our consultative approach to every project and our attention to detail in the design and build stage. We develop a deep understanding of our clients business, building relationships that enable us to create the ideal working environment across any industry sector.
</p>
<br><br>
<p>
    All of our projects are completed to the highest standards, The Niche Standard.
</p>
</div>

