<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/case2.jpg" alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/case3.jpg" alt="Chicago">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/case4.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/case1.jfif" alt="New York">
        
      </div>
      <div class="carousel-item">
        <img src="./assets/images/case5.jfif" alt="New York">
      </div>
      
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div><br><br>
  <div class="container">
    <h6>LATEST AND GREATEST CASE STUDIES</h6>
    <p>The team at Niche Projects works across a diverse range of industry sectors, and designs and builds many different types of office environments. We work with clients with various budget sizes and office spaces. Here is a selection of our recent projects. We hope you enjoy viewing them as much as we enjoyed designing and building them.</p>
    <div class="table">
        <table>
          <tr>
            <td>FILTER PROJECTS</td>
          <td>
            <select name="" id="">
              <option value="">BUDGET</option>
              <option value="">$10000-14999</option>
              <option value="">$15000-49999</option>
              <option value="">$50000-99999</option>
            </select>
          </td>
          <td>
            <select name="" id="">
              <option value="">SIZE</option>
              <option value="">500-1499sqft</option>
              <option value="">1500-2999sqft</option>
              <option value="">3000-4999sqft</option>
            </select>
          </td>
          <td>
            <select name="" id="">
              <option value="">INDUSTRY</option>
              <option value="">Architects</option>
              <option value="">Brand Design</option>
              <option value="">Business Consultancy</option>
              <option value="">Care Home Operator</option>
            </select>
          </td>
          <td><button>FILTER</button></td>
        </tr>
        </table>
      </div>
      <div class="img">
          <div class="row">
              <div class="col-sm-4">
                  <img src="./assets/images/c1.jfif" alt="">
              </div>
              <div class="col-sm-4">
                  <img src="./assets/images/c3.jpg" alt="">
              </div>
              <div class="col-sm-4">
                  <img src="./assets/images/c2.jfif" alt="">
              </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4">
                <img src="./assets/images/c4.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img src="./assets/images/c5.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img src="./assets/images/c6.jpg" alt="">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="./assets/images/c7.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img src="./assets/images/c8.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img src="./assets/images/c9.jpg" alt="">
            </div>
        </div>
      </div>
      <br><br>
      <div class="div"> <div class="row">
        <div class="col-sm-9">To discuss your requirements with us please contact us now. We would love to provide a free office design and quotation for your project. </div>
          <div class="col-sm-3">
            <button>contact us</button>
        </div></div>
        <br><br>
      
    
      </div>
  </div>
