<img src="./assets/images/sr1.png" alt="">
<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h6>CONTACT US</h6><br>
            <p>Niche Projects has the resources and capabilities to be able to carry out office fit out and refurbishment projects in London, Manchester, Leeds, Cambridge and Dublin. We would love to hear from you! </p>
            <p>Please use the form below to send us a comment or ask a question, or alternatively just pick up the phone and call us. </p>
            <input type="text" value="your full name"><br><br>
            <input type="text" value="your email address"><br><br>
            <input type="text" value="your contact number"><br><br>
            <input type="text" value="your message"><br><br>
            <button>send</button>
        </div>
        <div class="col-sm-3">
            <h6>WHERE TO FIND US</h6>
            <br><br>
            <p>Head office</p>
            <p>Kishan grand palace</p>
            <p>Bapu nagar</p>
            <p>Hyderabad,Telangana</p>
        </div>
    </div>
    <br>
    
</div>
