<h1 class="nm">INTERIOR DESIGN</h1>



<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark">
  <img src="../assets/images/images.png" alt="" width="150px" height="50px">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/casestudies">CASE STUDIES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/news">NEWS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services">SERVICES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">CONTACT</a>
    </li>
  </ul>

</nav>

<router-outlet></router-outlet>
<footer>
  <div class="row">
    <div class="col-sm-7">
      <h1>INTERIOR DESIGN</h1>
    </div>
    <div class="col-sm-5">
      <h6>4th Floor,</h6>
      <h6>Kishan Complex,</h6>
      <h6>Bapu Nagar,Hyderabad,</h6>
      <h6>Telangana,500038.</h6>
    </div>
  </div>
  <br><br>
  <br>
  <div class="cp">
    <p><i class="far fa-copyright"></i>Copyright:All Rights Are Reserved. 2021</p>
  </div>
</footer>
