<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img src="./assets/images/n1.jpg" alt="">
            <br><br>

            <h6>MAYFAIR FIT OUT FOR KINGSLEY CAPITAL PARTNERS</h6>
            <br>
            <p>It gives us great pleasure to announce that we have recently been appointed to carry out an office fit out project in Mayfair for Kingsley Capital Partners. KCP is a private equity and venture capital firm whose investors are global family offices and institutional investors. We worked with KCP over many months and assisted the client with the building selection process. KCP have now found the perfect space for their business needs, and we look forward to starting fit out works in the very near future.  </p>
            <br>
            <br>
            <img src="./assets/images/v2.jpg" alt="">
            <br><br>
            <h6>GLOBAL COMMODITY INDUSTRY LEADER CHOOSES NICHE, AGAIN</h6>
            <br>
            <p>The team at Niche Projects are excited to announce that we have been appointed by Javelin, global commodities, to do their new offices. A few years back, Niche were in charge of the design and build of their current offices, and with their expanding numbers, Javelin are moving to a larger space.</p>
            <br><br>
            <img src="./assets/images/v3.jpg" alt="">
            <br><br>
            <h6>NEW FIT OUT PROJECT WITH SPECIALIST LENDER</h6>
            <br>
            <p>We are delighted to announce that we were successful in winning an office fit out project with Oblix Capital. Oblix Capital a specialist lender that provides bespoke, non-regulated shirt term finance for the UK property market has chosen to partner with Niche for its upcoming office relocation to Holborn. The new space will require a fit out for a reception area, a number of meeting rooms, private offices and a breakout space. </p>
            <br><br>
            <img src="./assets/images/v4.jpg" alt="">
            <br><br>
            <h6>NEW CITY OFFICE DESIGN & FIT OUT PROJECT</h6>
            <br>
            <p>Niche Projects has been appointed to carry out the design and fit out of Allenby Capital's new office space, located in the City of London. The design will incorporate classic materials, adhering to the company culture. The pioneering finance company focuses on advising and assisting growing businesses, both in the public and private sector, offering a range of advisory services to companies. </p>
            <br><br>
            <img src="./assets/images/v5.jpg" alt="">
            <br><br>
            <h6>PROFESSIONAL ADVISORS</h6>
            <br>
            <p>Niche Projects has been appointed to manage the fit out and design for DV Advisory Group's new office, located in Central London. The company is an independent and entrepreneurial provider of capital, focusing on investment in early stage fast-growing global companies.</p>
        </div>
        <div class="col-sm-4">
            <h6>CATEGORIES</h6>
            <br>
            <p>Financial Services</p>
            <p>Technology & Consulting</p>
            <p>Professional services</p>
            <p>Creative</p>
            <p>Technology services</p>
            <p>Media</p>
            <p>Not for profit</p>
            <p>Transport&Logistics</p>
            <p>Insurance</p>
            <p>Healthcare</p>
            <br>
            <br>
            <h6>BROWSE BY DATE</h6>
            <br><br>
            <p>September 2021</p>
            <p>August 2021</p>
            <p>July 2021</p>
            <p>June 2021</p>
            <p>May 2021</p>
            <p>April 2021</p>
            <p>March 2021</p>
            <p>February 2021</p>
            <p>January 2021</p>
            <p>December 2020</p>
            <p>November 2020</p>
            <p>October 2020</p>
            <p>September 2020</p>
            <p>August 2020</p>
            <p>July 2020</p>
            <p>June 2020</p>
            <p>May 2020</p>
            <p>April 2020</p>
            <p>March 2020</p>
            <p>February 2020</p>
            <p>January 2020</p>
            <p>December 2019</p>
            <p>November 2019</p>
            <p>October 2019</p>
            <p>September 2019</p>
            <p>August 2019</p>
            <p>July 2019</p>
            <p>June 2019</p>
            <p>May 2019</p>
            <p>April 2019</p>
            <p>March 2019</p>
            <p>February 2019</p>
            <p>January 2018</p>
            <p>December 2018</p>
            <p>November 2018</p>
            <p>October 2018</p>
            <p>September 2018</p>
            <br><br>
            <h6>TAGS</h6>
            <br>
            <input type="text" value="Office Design"><br><br>
            <input type="text" value=" Design"><br><br>
            <input type="text" value=" Design & Build"><br><br>
            <input type="text" value="Energy">


        </div>
    </div>
    
</div>