<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/living-room-apartment-room-interior.jpg" alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/bed.jpg" alt="Chicago">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/bedroom.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/kitchen-interior-interior-design-wallpaper-preview.jpg" alt="New York">
        
      </div>
      <div class="carousel-item">
        <img src="./assets/images/602238.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/living-room-architecture-interior-hd-1080P-wallpaper-middle-size.jpg" alt="New York">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  <br>
  <div class="container">
      <h5>INTERIOR DESIGN</h5><br>
      <h6>CREATIVITY | DESIGN | BUILD</h6>
      <br><br>
      <p>Niche Projects is a modern, contemporary workplace design and build specialist. Our core expertise lies in designing and building offices between 500 and 20,000 square feet. Our teams are experts in design, creativity, procurement, project management and employee engagement all wrapped up in a turn key solution. 

    </p>
    <br>
    <h6>EXPERIENCE | PASSION | IMAGINATION</h6><br>
    <p>Our team have the experience and knowledge of having designed and built over 400 offices, having done this for decades, we still have the same mission, to deliver creative cost effective, design-led solutions for office fit out projects.</p>
    <br><h6>CONTINUALLY STRIVE | EXCEED EXPECTATIONS | BUILD RELATIONSHIPS</h6>
    <br><br>
    <p>A large portion of our business is in the form of repeat business from previous clients and referrals from long standing partners who often recommend us.</p>
    <br>
    <h6>SKILLS | RESOURCES | PROCESSES </h6>
    <br><br>
    <p>Our success is driven by our consultative approach to every project and our attention to detail in the design and build stage. We develop a deep understanding of our clients business and building relationships that enable us to create the ideal working environment across any industry sector.</p>
    <br>
    <p>Niche Projects has the skills and resources to carry out any office design and build project, covering London, Newcastle, Manchester, Leeds, and Cambridge.</p>
  <div class="img">
    <div class="card-deck">
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="./assets/images/creativity.png" alt="" >
          <h6>CREATIVITY</h6>
        </div>
      </div>
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="./assets/images/fddesign.png" alt="" >
          <h6>DESIGN</h6>
        </div>
  </div>
  

  </div>
  <br>
  <h6>LATEST AND GREATEST CASE STUDIES</h6>
  <br>
  <p>The team at Niche Projects works across a diverse range of industry sectors, and designs and builds many different types of office environments. We work with clients with various budget sizes and office spaces. Here is a selection of our recent projects. We hope you enjoy viewing them as much as we enjoyed designing and building them.</p>

<br><br>
  <div class="table">
  <table>
    <tr>
      <td>FILTER PROJECTS</td>
    <td>
      <select name="" id="">
        <option value="">BUDGET</option>
        <option value="">$10000-14999</option>
        <option value="">$15000-49999</option>
        <option value="">$50000-99999</option>
      </select>
    </td>
    <td>
      <select name="" id="">
        <option value="">SIZE</option>
        <option value="">500-1499sqft</option>
        <option value="">1500-2999sqft</option>
        <option value="">3000-4999sqft</option>
      </select>
    </td>
    <td>
      <select name="" id="">
        <option value="">INDUSTRY</option>
        <option value="">Architects</option>
        <option value="">Brand Design</option>
        <option value="">Business Consultancy</option>
        <option value="">Care Home Operator</option>
      </select>
    </td>
    <td><button>FILTER</button></td>
  </tr>
  </table>
</div>
<div class="cards">
  <div class="card-group">
    <div class="card bg-white">
      <div class="card-body text-center">
        <img src="./assets/images/1.jpg" alt="" >
      </div>
    </div>
    <div class="card bg-white">
      <div class="card-body text-center">
        <img src="./assets/images/2.jpg" alt="">
      </div>
    </div>
    <div class="card bg-white">
      <div class="card-body text-center">
        <img src="./assets/images/3.jpg" alt="">
      </div>
    </div>
  </div>
  
</div>
<div class="cards2">
  <div class="card-group">
    <div class="card bg-white">
      <div class="card-body text-center">
        <img src="./assets/images/4.jpg" alt="">
      </div>
    </div>
    <div class="card bg-white">
      <div class="card-body text-center">
        <img src="./assets/images/5.jpg" alt="">
      </div>
    </div>
    
    <div class="card bg-white">
      <div class="card-body text-center">
       <img src="./assets/images/6.jpg" alt="">
      </div>
    </div>
  </div>
  <br><br>
<h6>OUR PROCESS</h6>
<br>
<p>If you need advice on how to move office, we’re the right fit.</p>
<br>
<p>There are a wide range of reasons why a business needs to update and refit their offices. It could be through business growth, or to attract the highest calibre of employees; perhaps your current working environment doesn’t allow you to entertain clients as well as it could. Or maybe your lease is running out and you are looking to move locations. Whatever the reason, we will work closely with you to understand what you need, the culture of your business and the right solution for you.</p>
<br>
<p>Moving office can be a smooth and easy process. Understanding exactly what a business needs and tailoring the requirements to fit it is key to a successful finished office.  </p>
<br>
<p>We know that having the right processes in place is vital to a successful finished project, so we have a simple five step guide to ensure our approach is in line with your goals</p>
</div>




  </div>

